.main-div {
    margin: auto;
}


.title-head{
    color: #2E7AD3;
    text-align: center;
    margin: 45px 0 45px 0;
}

.blog-post {
    background: #F1F1F1;
    padding: 20px;
    width: 500px;
    margin: auto;
}

a {
    color: #FF8000;
}

img {
    width: inherit;
    margin-bottom: 25px;
}

.post-head {
    color: #104C90;
}

p {
    margin: 9px 0 9px 0;
}